<div class="create-note">
  <form action="<%= notes_url %>" method="post" >
    <%= auth_token_input %>
    <textarea name="note[text]">
    </textarea>
    <input name="note[lat]" placeholder="lat">
    <input name="note[lng]" placeholder="lat">
    <input type="submit" value="Create Note">
  </form>
</div>
